<div class="card employee-card">
    <div class="card-header" style= background-color:#303f9f;color:whitesmoke>
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title"><i class="fas fa-glasses mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-body" style= background-color:#e8eaf6>
        <ul class="list-group">
            <li class="list-group-item" style= background-color:#e8eaf6 >ID: {{ id }}</li>
            <li class="list-group-item" style= background-color:#e8eaf6 >Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item" style= background-color:#e8eaf6 >GitHub: <a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a></li>
        </ul>
    </div>
</div>
